


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBm5yyF8glr16lHo8qJ5Thchk8Sal9SnM&region=KE"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need--> 
<% content_for :map do %>
	<div id="map-container">
    <div id="map-canvas"></div>

	</div>
<%end%>


      <div class="card-body p-0">
              <div class="mailbox-controls">
              	<%= yield :map_header %>
              </div>
              <div class="table-responsive mailbox-messages">
              	<%= yield :map %>
              </div>
              <!-- /.mail-box-messages -->
      </div>
            <!-- /.card-body -->


    <div class="card-footer p-0">
      <div class="mailbox-controls">
      	<%= yield :map_footer %>
      </div>
    </div>



       <script>
       var locations = <%=raw @markers %>;
       
       var map = new google.maps.Map(document.getElementById('map-canvas'),
   {
         zoom: 6,
         center: {lat: 0.0236, lng: 37.9062},
         mapTypeId: google.maps.MapTypeId.ROADMAP
       });
       var infowindow = new google.maps.InfoWindow();
       var marker, i;
       for (i = 0; i < locations.length; i++) {
         marker = new google.maps.Marker({
           position: new google.maps.LatLng(locations[i][1],
   locations[i][2]),
           map: map
});
         google.maps.event.addListener(marker, 'click',
   (function(marker, i) {
           return function() {
             infowindow.setContent(locations[i][0]);
             infowindow.open(map, marker);
           }
         })(marker, i));

} </script>
