<div class="container">
  
  <div class="row" id="pwd-container">
    
    <div class="col-md-6 col-md-offset-3">
      <section class="login-form">
       

          
          <div id="profile_image">


          </div>
          
          
          <div>

            <%#= f.submit "Log in", :type => "submit",:name => "go",:class=> "btn btn-lg btn-primary btn-block" %>
           
          </div>

          <div class="row">
            <div class="col-md-12">
             
            </div>
          </div>
          
          
          


        
      
      </section>  
      </div>
      
      <div class="col-md-4"></div>
      

  </div>
 
  
</div>