      <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
          <i class="nav-icon fab fa-android"></i>
          <p>
            My App
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
 
          <li class="nav-item">
             <%= link_to myapp_android_index_path ,class: "nav-link #{params['controller'] == "settings" ? 'active' : ''}" do %>
               <i class="nav-icon fas fa-tachometer-alt"></i>
               <p>Android</p>
              <%end%>
          </li>
          <li class="nav-item">
              <%= link_to myapp_iphone_index_path ,class: "nav-link #{params['controller'] == "settings" ? 'active' : ''}" do %>
               <i class="nav-icon fas fa-tachometer-alt"></i>
               <p>iPhone</p>
             <%end%>
          </li>

        </ul>
      </li>


