---
http_interactions:
- request:
    method: get
    uri: https://sandbox.safaricom.co.ke/oauth/v1/generate?grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dmoyN0RoQXRNVWpQOWViUlVpZWhrakQxbU9zTVI1bTk6M3J2SXlqYUF5SmxkZk8wMg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n            \"access_token\": \"L0b2X4GJdJhmruinWvY4tIvvF3E6\",\n
        \           \"expires_in\": \"3599\"\n        }\n        "
  recorded_at: Tue, 21 Apr 2020 22:38:36 GMT
- request:
    method: post
    uri: https://sandbox.safaricom.co.ke/mpesa/stkpush/v1/processrequest
    body:
      encoding: UTF-8
      string: '{"BusinessShortCode":"174379","Password":"MTc0Mzc5YmZiMjc5ZjlhYTliZGJjZjE1OGU5N2RkNzFhNDY3Y2QyZTBjODkzMDU5YjEwZjc4ZTZiNzJhZGExZWQyYzkxOTIwMjAwNDIyMDEzODM2","Timestamp":"20200422013836","TransactionType":"CustomerPayBillOnline","Amount":"100","PartyA":"254726130418","PartyB":"174379","PhoneNumber":"254726130418","CallBackURL":"https://eddd5f50.ngrok.io/api/v1/mpesa/checkout_callback","AccountReference":"12357898098","TransactionDesc":"KPLC
        USSD Purchase Token"}'
    headers:
      Authorization:
      - Bearer L0b2X4GJdJhmruinWvY4tIvvF3E6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n            \"MerchantRequestID\":\"23629-8411901-1\",\n            \"CheckoutRequestID\":\"ws_CO_220420200138366420\",\n
        \           \"ResponseCode\": \"0\",\n            \"ResponseDescription\":\"Success.
        Request accepted for processing\",\n            \"CustomerMessage\":\"Success.
        Request accepted for processing\"\n        }\n        "
  recorded_at: Tue, 21 Apr 2020 22:38:39 GMT
recorded_with: VCR 5.1.0
