<li class="nav-item dropdown">
    <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Contacts</a>
    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">


   <li>
        <%= link_to team_sms_manager_contacts_path(current_team) ,class: "dropdown-item" do %>
           All Contacts 
        <%end%>
    </li>
    
    <li>
        <%= link_to new_team_sms_manager_contact_path(current_team),class: "dropdown-item" do %>
        Import Contacts 
        <%end%>
    </li>

    </ul>
</li>
