<section class="dashboard-header">
	<div class="col-lg-12">
	  <div class="card">
	    <div class="card-header d-flex align-items-center">
	      <h3 class="h4">Prepaid</h3>
	    </div>
	    <div class="card-body">
	     Buy token: <%= @buy_token %> </br>
	     Latest token: <%= @latest_token %>

	    </div>
	  </div>
	</div>
</section>