<section class="dashboard-header">
	<div class="col-lg-12">
	  <div class="card">
	    <div class="card-header d-flex align-items-center">
	      <h3 class="h4">Manage Account</h3>
	    </div>
	    <div class="card-body">
	     Prepaid: <%= @prepaid %> </br>
	     Postpaid: <%= @postpaid %>

	    </div>
	  </div>
	</div>
</section>