<% content_for :header do %>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Organization Edit</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Organization Edit</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
 <%end%>

<%= render 'form' %>


<div class="row">
	<div class="col-12">


		 <%= link_to organization_teams_path(current_organization), class: 'btn btn-primary' do %>
		    Back
		  <% end %>



	</div>
</div>
