
<li class="nav-item">
    <%= link_to team_business_intelligence_dashboard_index_path(current_team) ,class: "nav-link #{params[:controller].split("/").first == "business_intelligence" ? 'active' : ''}" do %>
    <i class="nav-icon fas fa-chart-line"></i>
    <p>Business Intelligence</p>
    <%end%>
</li>



