<div class="page-header">
  <%= link_to sms_manager_sms_templates_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to @sms_manager_sms_template, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing sms_manager_sms_template</h1>
</div>

<%= render 'form' %>
