<div class="page-header">
  <%= link_to team_sms_manager_sms_templates_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New sms_manager_sms_template</h1>
</div>

<%= render 'form' %>
