<div class="page-header">
  <h1>BusinessIntelligence::FaultyTransformers#faulty_transformers</h1>
</div>
<p>Find me in app/views/business_intelligence/faulty_transformers/faulty_transformers.html.erb</p>
