@import "all.css";
@import "icheck-bootstrap.min.css";
@import "adminlte.css";

@import "select2.min.css";
@import "select2-bootstrap4.min.css";



.jumbotron {
 background-attachment: static;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-image: linear-gradient(to bottom, rgba(233, 236, 239,0.9) 0%,rgba(233, 236, 239,0.3) 100%), url(gears.jpg);
}





