<div class="page-header">
  <h1>BusinessIntelligence::UnservedEnergy#index</h1>
</div>
<p>Find me in app/views/business_intelligence/unserved_energy/index.html.erb</p>
<h3>weekly unserved energy</h3>
<%= @weekly_unserved_energy.inspect %>

<h3>Weekly Regional Trend</h3>
<%= @weekly_regional_trend.inspect %>

<h3>Unserved Energy Table</h3>
<%= @unserved_energy_table.inspect %>


<h3>Unserved Energy Chart </h3>
<%= @unserved_energy_chart.inspect %>



