<div class="page-header">
  <h1>BusinessIntelligence::UnservedEnergy#unserved_energy_chart</h1>
</div>
<p>Find me in app/views/business_intelligence/unserved_energy/unserved_energy_chart.html.erb</p>
