<div class="page-header">
  <h1>BusinessIntelligence::UnservedEnergy#weekly_regional_trend</h1>
</div>
<p>Find me in app/views/business_intelligence/unserved_energy/weekly_regional_trend.html.erb</p>
