<div class="page-header">
  <h1>BusinessIntelligence::PostpaidAmount#weekly_sale_vs_target</h1>
</div>
<p>Find me in app/views/business_intelligence/postpaid_amount/weekly_sale_vs_target.html.erb</p>
